@import "../../../styles/variables";
@import "../../../styles/mixins";

.Header {
  @include pageWrapper;
  background-color: $secondaryColor;
  text-align: center;
  padding: 1rem 0;
  color: $tertiaryColor;
  font-weight: 700;
  font-size: 1.2rem;
}
